body {
  height: 100vh;
  display: flex;
  background-color: rgba(243, 233, 165, 0.269);
}
.board-container {
  width: 80%;
  margin: 3% auto;
}
.board-container .menu-wrapper {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  height: fit-content;
}
.board-container .menu-wrapper .title {
  font-weight: bold;
}
.board-container .menu-wrapper .navi-wrap {
  display: flex;
  gap: 10%;
  height: 2.5em;
  border: none;
}
.board-container .menu-wrapper .navi-wrap .navi {
  display: flex;
  font-size: 1.3em;
  width: 6em;
  background-color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 0.1px solid #bbb;
  border-bottom: none;
}
.board-container .menu-wrapper .navi-wrap .navi.active {
  background-color: #444;
  color: white;
}
.board-container .table thead tr th:nth-child(1) {
  width: 5%;
}
.board-container .table thead tr th:nth-child(2) {
  width: 35%;
}
.board-container .table thead tr th:nth-child(3) {
  width: 30%;
}
.board-container .table thead tr th:nth-child(4) {
  width: 10%;
}
.board-container .table thead tr th:nth-child(5) {
  width: 10%;
}
.board-container .table thead tr th:nth-child(6) {
  width: 20%;
}
.board-container .table tbody tr th, td {
  height: 100%;
  align-content: center;
}
.board-container .table tbody tr th {
  text-align: center;
}