/**작성 순서 최대한 맞추자 
    width
    height
    font 관련
    align 관련
    margin 관련
**/
/* content-wrapper css*/
.content-wrapper {
  margin-top: 164px;
}
.content-wrapper .content-wrap {
  width: 100%;
  height: 700px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  margin-top: 3%;
  line-height: 200%;
}
.content-wrapper .content-wrap h2 {
  font-size: 24px;
  line-height: 200%;
}

/******* board-write content 메인 관련*********/
.content-wrapper .content-wrap .content {
  width: 700px;
  height: 500px;
  font-size: 18px;
  margin-top: 2%;
}

.content-wrapper .content-wrap .content input {
  width: 600px;
  line-height: 200%;
  margin-left: 40px;
}
.content-wrapper .content-wrap .content span:first-child {
  margin-left: 20px;
}
.content-wrapper .content-wrap .content p {
  line-height: 200%;
}

/********* textarea 관련****************/
.content-wrapper .content-wrap textarea {
  width: 700px;
  height: 300px;
  margin-bottom: 1%;
  resize: none;
}

/***********bottom-btn 하단 버튼 관련****/
.content-wrapper .content-wrap .content .bottom-btn {
  width: 200px;
  margin-top: 1%;
  display: flex;
  justify-content: flex-end;
  text-align: center;
}
.bottom-btn .bt-black {
  background-color: black;
  width: 100px;
  height: 50px;
  text-align: center;
  margin-right: 3%;
  color: white;
  border-radius: 8%;
  font-size: 18px;
}
.bottom-btn .bt-gray {
  background-color: gray;
  width: 100px;
  height: 50px;
  text-align: center;
  color: white;
  border-radius: 8%;
  font-size: 18px;
}
