.bt-gray {background-color: #888; color: white; border-radius: 8%; font-size: 16px;}

/* content-wrapper */
.content-wrapper {margin-top: 164px; display: flex;}
.content-wrapper .content-wrap {width: 1247px; margin: 5% auto 0 auto; display: flex; justify-content: center; align-content: center;}

.content-wrapper .content-wrap .join-form {border: 0.1px dotted #aaa; border-radius: 8%; padding: 3%; display: flex; flex-direction: column; align-content: center; justify-content: center;}
.content-wrapper .content-wrap .join-form h1 {font-weight: bold; letter-spacing: 3px;}
.content-wrapper .content-wrap .join-form h2 {color: #444;}
.content-wrapper .content-wrap .join-form p {color: #aaa; margin-bottom: 0.2em;}

.content-wrapper .content-wrap .join-form input {width: 100%; height: 40px; font-size: 18px;}
.content-wrapper .content-wrap .join-form input:focus {border: 2px solid inherit;}
.content-wrapper .content-wrap .join-form input,button,h1,h2 {display: flex; justify-content: center; margin-bottom: 8%;}
.content-wrapper .content-wrap .join-form .notice-txt {color: red;}