/* content-wrapper css*/

.content-wrapper {
  margin-top: 164px;
}

.content-wrapper .content-wrap {
  width: 1247px;
  margin: auto;
}

/* search css*/
.search {
  position: relative;
  width: 300px;
  margin-left: auto;
  display: flex;
  justify-content: right;
  margin-top: auto;
}
.search i {
  position: absolute;
  padding-right: 3%;
  padding-top: 3%;
  font-size: 18px;
}

input {
  width: 100%;
  border: 1px solid #bbb;
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 14px;
}

/* movie-list css*/
.movie-list {
  width: 675px;
  margin-left: auto;
  margin-right: auto;
}

.movie {
  width: 225px;
  text-align: center;
  display: block;
  color: #000000;
  text-decoration: none;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.movie-name {
  margin-top: 10px;
  margin-bottom: 2px;
}

.release-date {
  margin-top: 10px;
  margin-bottom: 2px;
}

.nation {
  margin-top: 10px;
  margin-bottom: 2px;
}

/* modal */
.modal-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  display: none;
}

.modal-wp {
  background-color: rgb(243, 180, 197);
  color: white;
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  height: 700px;
  width: 600px;
  flex-wrap: wrap;
  border-radius: 5px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
}

.modal_poster {
  margin-top: 10%;
  width: 50%;
  float: left;
  position: relative;
}

.modal_info {
  margin-top: 10%;
  float: right;
  position: relative;
  text-align: left;
  font-size: 18px;
}
.modal-wp .modal_close {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  font-size: 16px;
  text-align: center;
  width: 100px;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
}

.modal_box {
  margin-top: 20px;
  margin-left: 40px;
  width: 100%;
  height: 150px;
  text-align: left;
  font-size: 18px;
}
