/********** content-wrapper css **********/

.content-wrapper {
  margin-top: 164px;
}

.content-wrapper .content-wrap {
  width: 1247px;
  margin: 180px auto;
  height: 2050px;
}

/********** search css **********/
.content-wrapper .content-wrap .search {
  position: relative;
  width: 300px;
  margin-left: auto;
  display: flex;
  justify-content: right;
  margin-top: auto;
}
.content-wrapper .content-wrap .search i {
  position: absolute;
  padding-right: 3%;
  padding-top: 3%;
  font-size: 18px;
}

.content-wrapper .content-wrap .search input {
  width: 100%;
  border: 1px solid #bbb;
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 14px;
}

.content-wrapper .content-wrap h2 {
  margin-top: 3%;
  margin-bottom: 3%;
}

/********** movie-list css **********/

.content-wrapper .content-wrap .movie {
  width: 225px;
  text-align: center;
  display: block;
  color: #000000;
  text-decoration: none;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.content-wrapper .content-wrap .movie .movie-name {
  margin-top: 10px;
  margin-bottom: 2px;
}

.content-wrapper .content-wrap .movie .release-date {
  margin-top: 10px;
  margin-bottom: 2px;
}

.content-wrapper .content-wrap .movie .nation {
  margin-top: 10px;
  margin-bottom: 2px;
}

/********** modal **********/
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  display: none;
}

.modal-wrap {
  position: relative;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 700px;
  width: 600px;
  background-color: white;
  border-radius: 5px;
}

.modal-wrapper .modal-wrap .modal-wp {
  position: relative;
  display: flex;
  height: 350px;
  width: 100%;
  margin-top: 20px;
  margin-left: 40px;
}

.modal-wrapper .modal-wrap .modal-wp .btn {
  width: 30px;
  height: 30px;
  margin-right: auto;
}

.modal-wrapper .modal-wrap .modal-wp .modal-info {
  margin-top: 30px;
  margin-left: 30px;
  width: 200px;
  height: 50%;
  text-align: left;
  font-size: 18px;
}

.modal-wrapper .modal-wrap .modal-box {
  width: 600px;
  height: 280px;
  text-align: center;
  font-size: 18px;
}

.modal-wrapper .modal-wrap .modal-box .btn {
  margin-top: 35%;
}

.modal-wrapper .modal-wrap .btn i {
  margin-left: 94.5%;
  font-size: 30px;
  border-radius: 5px;
}

.modal-wrapper .modal-wrap .modal-box .btn .close-btn {
  text-align: center;
  width: 100px;
  height: 40px;
  text-align: center;
  align-content: center;
  background-color: black;
  color: white;
  border-radius: 5px;
  font-size: 15px;
}
