body {height: 100vh; display: flex; align-items: center; background-color: rgba(243, 233, 165, 0.64);}

.login-wrapper {
  width: 20%;
  height: 30%;
  margin: auto;
  padding: 2% 1%;
  background-color: white;
  border: 0.1px solid #bbb;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
}

.login-wrapper .title {
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.2em;
  height: 20%;
  align-content: center;
}

.login-wrapper .login-form {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.login-wrapper .login-form input {
  width: 60%;
  height: 14%;
  align-items: center;
  gap: 2em;
  margin-top: 2em;
}

.login-wrapper .login-form input:last-child {
  margin-top: auto;
}