<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.global.moviego.mapper.UserMapper">
  
  <!-- 회원 가입 시 username 중복 체크 -->
  <select id="checkUsernameExists" parameterType="String" resultType="int">
    SELECT COUNT(*) FROM tb_users WHERE username = #{username}
  </select>
  
  <!-- email 중복 체크 -->
  <select id="checkEmailExists" parameterType="String" resultType="int">
    SELECT COUNT(*) FROM tb_users WHERE email = #{email}
  </select>
  
  <!-- 회원 가입 -->
  <insert id="insertMemberJoin" parameterType="com.global.moviego.domain.UserVO">
  
    INSERT INTO tb_users (
                       username
                     , passwd
                     , email
                     , created_at
                ) VALUES (
                       #{username}
                     , #{passwd}
                     , #{email}
                     , NOW()
                )

  </insert>
  
  <resultMap id="userResultMap" type="com.global.moviego.domain.UserVO">
    <id property="userId" column="user_id"/>
    <result property="username" column="username"/>
    <result property="passwd" column="passwd"/>
    <result property="email" column="email"/>
    <result property="createdAt" column="created_at"/>
    <result property="updatedAt" column="updated_at"/>
    <result property="deletedAt" column="deleted_at"/>
    <result property="provider" column="provider"/>
    <result property="providerId" column="provider_id"/>
    <result property="grade" column="grade" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
  </resultMap>
  
  <!-- 로그인 -->
  <select id="findByUsername" resultMap="userResultMap">
    SELECT * FROM tb_users WHERE username = #{username}
  </select>
  
  <!-- 관리자 페이지 -->
  <select id="getAllUsers" resultMap="userResultMap">
    SELECT * FROM tb_users
  </select>

  <delete id="deleteUser" parameterType="Long">
    DELETE FROM tb_users WHERE user_id = #{userId}
  </delete>
  
  <!-- 회원 정보 업데이트 -->
  <!-- 
  <update id="updateUser" parameterType="com.global.moviego.domain.UserVO">
    UPDATE tb_users
    <set>
      <if test="username != null">username = #{username},</if>
      <if test="passwd != null">passwd = #{passwd},</if>
      <if test="email != null">email = #{email},</if>
      <if test="provider != null">provider = #{provider},</if>
      <if test="providerId != null">provider_id = #{providerId},</if>
      <if test="grade != null">grade = #{grade.value},</if>
    </set>
    WHERE user_id = #{userId}
  </update>
  -->
  
  <update id="updateEmail">
      UPDATE tb_users SET email = #{email} WHERE user_id = #{userId}
  </update>

  <update id="updatePassword">
      UPDATE tb_users SET passwd = #{passwd} WHERE user_id = #{userId}
  </update>

</mapper>
